<ng-container *ngIf="message">
  <div class="fixed top-5 right-5 z-50 mt-14">
    <div
      class="max-w-xs bg-blue-500 text-sm text-white rounded-xl shadow-lg"
      role="alert"
    >
      <div class="flex p-4">
        <span class="flex-grow">{{ message }}</span>
        <button
          type="button"
          (click)="closeToast()"
          class="ml-auto inline-flex flex-shrink-0 justify-center items-center size-5 rounded-lg text-white hover:text-white opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100"
        >
          <span class="sr-only">Close</span>
          <i class="fi fi-x w-4 h-4"></i>
        </button>
      </div>
    </div>
  </div>
</ng-container>
