<div class="bg-gray-100 h-screen flex items-center justify-center">
  <div class="bg-white p-10 shadow md:mx-auto">
    <div class="text-center">
      <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center">
        Sorry for the inconvenience!
      </h3>
      <p class="text-gray-600 my-2">
        Your payment was not successful, but keep shopping!
      </p>
      <p>Have a great day! 😊</p>
      <div class="py-10 text-center">
        <a
          routerLink="/cart"
          class="px-6 bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3"
        >
          BACK TO HOME
        </a>
      </div>
    </div>
  </div>
</div>
